# general modules
django >5.2,<5.3
python-decouple
pillow
djangorestframework

# third party modules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt

# deployment modules

# email third party modules
django-mail-templated
